boby{
    font-family: 'Poppins', sans-serif;
}
.creat-color{
color: rgb(133, 87, 240);
}
.creat-input-color{
    background-color: rgb(212, 212, 214);
}
.creat-bg-primary{
    background-color:rgb(133, 87, 240) ;
}