/* common section */
boby{
    font-family: 'Poppins', sans-serif;
}
.color-bg-primary{
    background-color: rgb(214, 214, 214);
}
/* title color */
.create-color{
color: rgb(133, 87, 240);
}
/* input field */
.create-input-color{
    background-color: rgb(185, 185, 185);
}
/* button color */
.create-bg-primary{
    background-color:rgb(133, 87, 240) ;
}
#hide-cuppon{
     display: none; 
}
#expenses-hide{
    display: none;
}
