/* common section */
boby{
    font-family: 'Poppins', sans-serif;
}
.color-bg-primary{
    background-color: rgb(214, 214, 214);
}
/* title color */
.creat-color{
color: rgb(133, 87, 240);
}
/* input field */
.creat-input-color{
    background-color: rgb(185, 185, 185);
}
/* button color */
.creat-bg-primary{
    background-color:rgb(133, 87, 240) ;
}
#hide-cuppon{
     display: none; 
}